/* import index.css */
@import "./index.css";
/* //outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }


  /* Global  background */
body {
    background-color: #FFFFFF;
  }
  
  /*  all images are responsive */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Common elements styling */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

