/* Themes */
/* light theme */
body.light,
body .light {
  --primary: #4f46e5;
  --secondary: #ff6f30;
  --accent: #fbfbfb;
  --warn: #eded3a;
  --error: #ed3a3a;
  --success: #3aed3a;
  --base: #000000;
  --border: #d3d1d1;
  --divider: #e2e8f0;
  --dividers: #e2e8f0;
  --disabled: #94a3b8;
  --disabled-button: #94a3b8;
  --disabled-text: #94a3b8;
  --elevation: #000000;
  --hint-text: #94a3b8;
  --secondary-text: #e1e4e8;
  --icon: #374151;
  --icons: #374151;
  --text: #1e293b;
  --slider-min: #1e293b;
  --slider-off: #cbd5e1;
  --slider-off-active: #94a3b8;
  --status-bar: #cbd5e1;
  --app-bar: #ffffff;
  --background: #f1f5f9;
  --foreground: #fbfbfb;
  --hover: rgba(148, 163, 184, 0.3);
  --card: #ffffff;
  --dialog: #ffffff;
  --disabled-button: rgba(148, 163, 184, 0.38);
  --raised-button: #ffffff;
  --focused-button: #e1e4e8;
  --selected-button: #e2e8f0;
  --selected-disabled-button: #e2e8f0;
  --disabled-button-toggle: #cbd5e1;
  --unselected-chip: #e2e8f0;
  --disabled-list-option: #cbd5e1;
  --tooltip: #1e293b;
}

/* dark theme */
body.dark,
body .dark {
  --primary: #1e293b;
  --secondary: #ffa500;
  --accent: #2d3748;
  --warn: #f6e05e;
  --error: #e53e3e;
  --success: #48bb78;
  --base: #171923;
  --border: #4a5568;
  --divider: #2d3748;
  --dividers: #2d3748;
  --disabled: #4a5568;
  --disabled-button: #4a5568;
  --disabled-text: #4a5568;
  --elevation: #171923;
  --hint-text: #4a5568;
  --secondary-text: #e2e8f0;
  --icon: #e2e8f0;
  --icons: #e2e8f0;
  --text: #e2e8f0;
  --slider-min: #e2e8f0;
  --slider-off: #4a5568;
  --slider-off-active: #4a5568;
  --status-bar: #4a5568;
  --app-bar: #1e293b;
  --background: #1a202c;
  --foreground: #2d3748;
  --hover: rgba(255, 255, 255, 0.12);
  --card: #2d3748;
  --dialog: #2d3748;
  --disabled-button: rgba(74, 85, 104, 0.38);
  --raised-button: #2d3748;
  --focused-button: #e2e8f0;
  --selected-button: #2d3748;
  --selected-disabled-button: #2d3748;
  --disabled-button-toggle: #4a5568;
  --unselected-chip: #2d3748;
  --disabled-list-option: #4a5568;
  --tooltip: #e2e8f0;
}

/* add as many as we want */
/*
body.red,
body .red {
  /* add properties */
